@model Peliculas.Models.Director
@{
    ViewData["Title"] = "Eliminar Director";
}
<h2>¿Eliminar director?</h2>
<hr />
<dl class="row">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.Nombre</dd>
    <dt class="col-sm-3">Nacionalidad</dt>
    <dd class="col-sm-9">@Model.Nacionalidad</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}